:root {
  --text_input_border:#a2c523
  /*aebd38 a2c523 6fb98f 5bc8ac*/
}

html {
  overflow-y: scroll;
}

body{
  font-family:"Times New Roman", Times, serif;
  left:0;
  margin:0;
  position:relative;
  overflow: hidden;
  font-style: normal;
  line-height: 1.905;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

h1 {
  text-align: center;
}

#wrapper {
  width: 100%;
  max-width: none;
  overflow: visible;
  margin-bottom: 20px;
}

#header-bar {
  display: inline-block;
  position: relative;
  height: 45px;
  width: 100%;
  background-color: #ece9e8;
  padding: 5px 15px 10px 15px;
  color: #5f504e;
}

.links {
  float: right;
  margin-top: -10px;
  height: 50px;
  margin-right: -15px;
  background-color: #202558;
}

.links a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 20px;
  letter-spacing: 0.05em;
  font-family: "PT Sans";
  text-decoration: none;
  transition:.4s;
}

a.homehead {
  padding-left: 30px;
}

.links a:hover {
    color: #f5a81d;
    transition: .4s;
}

.main {
  padding-left:30px;
  padding-right:30px;
  background-color:#ece9e8;
  text-align:center;
}

#banner {
  margin-left:-30px;
  margin-right:-30px;
  background-color: #FF906B;
  height:200px;
  text-align:left;
  overflow:hidden;
}

#banner_title {
  display:inline-block;
  float:right;
  line-height:150px;
  margin-right:50px;
  font-family:"PT Sans";
  color:#fff;
}

#banner_img {
  height:100%;
}

#center_column {
  width:75%;
  background-color:white;
  display:inline-block;
  padding:15px 30px;
  text-align:center;
}

#column_header {
  width:100%;
  text-align:center;
  font-family:"Alegreya Sans SC";
  font-weight:300;
  font-size:36px;
  margin:0;
  margin-bottom:15px;
  border-bottom:5px solid #FF906B;
  border-top:5px solid #FF906B;
  border-radius:20px;
  height:80px;
  vertical-align:top;
}

#joshua {
  list-style:none;
  width:100%;
  display:inline-block;
  text-align:center;
  padding:0;
  margin:0;
  margin-bottom:10px;
}

.option {
  height:45px;
  margin-bottom:10px;
  width:100%;
  position:relative;
}

.text_box {
  height:100%;
  background:none;
  font-size:18px;
  font-family:"PT Sans";
  border:0px;
  box-shadow: inset 0 -3px 3px -3px black;
  position:relative;
  vertical-align:bottom;
  width:100%;
  z-index:1;
}

.underliner {
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  left:0;
}

.underliner::before, .underliner::after {
  position:absolute;
  height:0;
  width:0;
  border:2px solid transparent;
  content:'';
}

.underliner::before {
  bottom:0;
  left:-4px;
}

.underliner::after {
  top:-4px;
  right:0;
}

.text_box:focus ~ .underliner::before, .text_box:focus ~ .underliner::after {
  width:100%;
  height:100%;
}

.text_box:focus ~ .underliner::before {
  border-bottom-color:var(--text_input_border);
  border-right-color:var(--text_input_border);
  transition:
    width .5s ease-out,
    height .25s ease-out .5s;
}

.text_box:focus ~ .underliner::after {
  border-top-color:var(--text_input_border);
  border-left-color:var(--text_input_border);
  transition:
    width .5s ease-out,
    height .25s ease-out .5s;
}

/*.underliner {
  content:'';
  position:absolute;
  height:2px;
  width:0;
  bottom:0;
  left:0;
  z-index:2;
}

.text_box:focus ~ .underliner {
  width:75%;
  background-color:#d500f9;
  transition: width 1s ease-out;
}*/

.text_box:focus {
  outline:none;
  box-shadow:none;
}

#plus_minus_container {
  width:100%;
  height:75px;
  margin-bottom:10px;
}

#plus, #minus {
  display:inline-block;
  height:100%;
  width:48%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius:10px;
  background-size:50px 50px;
  transition:.4s;
}

#plus:hover, #minus:hover {
  cursor:pointer;
  opacity:.7;
  transform:scale3D(1.01,1.03,1);
  transform-origin:center center;
}

#minus {
  float:left;
  background-image: url("pics/minus.png");
  background-color:#ff6b90;
}

#plus {
  float:right;
  background-image: url("pics/plus.png");
  background-color:#6bdaff;
}

#decide {
  width:100%;
  height:75px;
  border-radius:10px;
  background-color:#FECE46;
  line-height:70px;
  font-family: "Alegreya Sans SC";
  font-size:44px;
  color:black;
  transition:.4s;
}

#decide:hover {
  cursor:pointer;
  opacity:.7;
  transform:scale3D(1.01,1.03,1);
  transform-origin: center center;
}

#footer {
  /*border-top:10px solid #ece9e8;*/
  box-shadow:0 -10px 10px -10px #ece9e8;
  background-color: #FECE46;
  margin: 0px -30px 0px -30px;
  height:125px;
  text-align:center;
  transition: .4s;
  line-height:125px;
}

#footer_img {
  height:100%;
  float:left;
}

#basic {
  font-family:"PT Sans";
  font-size:24px;
  border-radius:5px;
  transition:.4s;
}

#basic a {
  text-decoration:none;
  color:black;
}

#basic:hover {
  background-color:rgb(200,200,200);
  transition:.4s;
}